#spel3-box{
    display:flex;
    flex-direction: column;
    padding: 10px;
   margin-right: -80px;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 400px;
   margin-top: -300px;
   position: absolute;
   display: none;
   border-radius: 30px;
   color:#F7AEF8; 
   
    
   

}
