body{
background-color:#72DDF7;
margin:0;
font-family: 'futura';
color: white

}

.input-box{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
font-family: 'futura';
background-color: rgb(255, 255, 255);
margin: auto;
text-align: center;
color: #72DDF7;



}

input{
font-family: 'futura';
margin: 10px;
border: none;
border-radius: 20px;
padding: 10px;
background-color:#72DDF7;
color: white;
max-width: 400px;

}

button{
font-family:'futura';
border:none;
padding:5px;
border-radius:5px;
background-color: #FDC5F5;
}

#IDweapon{
display: none;
justify-content: center;
}

#IDsuperpower{
display: none;
justify-content: center;
    
}

#IDname{

display: none;
}


.spel1-buttons{
display:flex;
flex-direction: row;
align-content: center;
justify-content: center;

}

button{
color:white;
}

.spel1-buttons button{
margin: 10px;
padding: 10px;
color: white;
}

 button:hover{
background-color:#F7AEF8;
}

#spel1-box{
display:flex;
flex-direction: column;
padding: 10px;
margin: 40px;
justify-content: center;
text-align: center;
background-color: rgb(255, 255, 255);
width: 500px;
height: 400px;
margin-top: -300px;
position: absolute;
display: none;
color:#F7AEF8;
border-radius: 20px;
   

}

.spel1-bilder{
display:flex;
flex-direction: row;
justify-content: center;
align-content: center;

padding: 10px;
}

#userpick{
    
margin: 3px;
padding: 15px;
}

#randompick{
margin: 3px;
padding: 15px;
 
}

#handsuser{
color:#72DDF7;
padding: 10px;
    
}

#handsuser i {
transform: rotateY(180deg);
font-size: 5em;
}

#handscomputer{
color: #8093F1;
padding: 10px;
  
    
}

#handscomputer i{
font-size: 5em;
}

#Userhandscissor{
display:none
}

#Userhandsrock{
 display:none
}

#Userhandspaper{
 display:none
}


#Computerhandscissor{
display:none
  }
  
#Computerhandsrock{
display:none
}
  
#Computerhandspaper{
display:none
}


#yourCharacter{
max-width: 500px;
margin: auto;
display: none;
display: flex;
align-content: center;
justify-content: center;
text-align: center;
}

#whowins{
color: #72DDF7;
}


.background{
margin: auto;
background-color:#72DDF7;
padding-top: 50px;
}

.house{
display: flex;
flex-direction: column;
justify-content: center;
background-color:#F7AEF8;
padding-top: 10px;
padding-right: 10px;
padding-left: 10px;
margin: auto;
width: 700px;

}

.ground{   
padding: 20px;
margin: 0;
background-color: rgb(159, 235, 159);
}

.doors{
display: flex;
flex-direction: row;
padding: 15px;
margin: 15px;
margin-bottom: 0px;
padding-bottom: 0px;
justify-content: space-evenly;
      
}

.door{
background-color: #B388EB;
padding: 45px;
margin-left: 15px;
margin-right: 15px;
margin-bottom: 0px;
height: 120px;
border-top-right-radius: 40px;
border-top-left-radius: 40px;
}

.ROOF{
background-color:#F4F4ED;
width: 800px;
padding: 10px;
justify-content: center;
margin: auto;
border-radius: 30px;
}

.ROOFMIDDLE{
background-color:#F4F4ED; 
width: 650px;
padding: 20px;
justify-content: center;
margin: auto;
border-radius: 30px;
}

.ROOFTOP{
background-color:#F4F4ED;
width: 400px;
padding: 25px;
justify-content: center;
margin: auto;
border-radius: 30px;
}

.doors .handtag{
padding: 2px;
border-radius: 100%;
background-color:#F4F4ED;
margin-right: -20px;
margin-top: 60px;
height: 5px;
width: 15px;
margin-left: 50px;


}

#start{
background-color: rgb(255, 255, 255);
border-style: double;
border-color:#72DDF7;
margin-bottom: auto;
border-width: 15px;
border-radius: 10px;
padding: 20px;
text-align: center;
align-content: center;
margin: auto;
max-width: 12rem;
display: none;
color: #72DDF7;
  
}

#guide{
background-color: green;
border-style: double;
border-color: rgb(4, 95, 34);
margin-bottom: auto;
border-width: 15px;
border-radius: 10px;
padding: 20px;
text-align: center;
align-content: center;
margin: auto;
max-width: 12rem;
display: none;
border-radius: 10px;
  
}

#spelet{
    display:none;
}

#closegame1{
background-color:#72DDF7;
color: white;
width: 150px;
border-radius: 40px;
text-align: center;
}

